.BitcoinList {
    margin-right: 10px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.BitcoinElement {
    height: 70px;
    padding: 20px;
    box-shadow: 0 5px 7px -2px rgba(20, 20, 20, .64);
    margin: 10px;
    background: #3C3C3C;
    color: white;
    display: flex;
    flex-direction: row;
}

.BitcoinSymbol {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    width: 5%;
}

.BitcoinPrice {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}